# SQLite database files
*.sqlite
*.sqlite3
*.db
*.db3

# Model outputs
output_files/
outputs/
results/

echo "dbs/" >> .gitignore
echo "*.7z" >> .gitignore
echo "*.xlsx" >> .gitignore

# Python
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/